@import 'variables';

.btn{
  padding: 4px 10px;
  border: 1px solid $color-border;
  border-radius: 3px;
  background-color: #fff;
}
.btn-xs {
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 1px
}
.field-wrapper {
  ul.errors {
    font-size: 13px;
    color: red;
    font-weight: bold;
  }
  label {
    font-size: 11px;
  }
  input[type=text], input[type=password] {
    width:100%;
    box-sizing: border-box;
  }
  p.help {
    font-size: 10px;
    color: #ccc;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

form.form-inline {
  display: inline-block;
}

a.hash-tag {
  color: $color-tag;
}
